node_modules
dist
.vite
.next
.DS_Store
tmp
*.log
.env
build
.ai_completion
.android
.antigravity
.app-store
.aws
.cache
.cagent
.cargo
.cline
.cocoapods
.codeium
.codex
.composer
.config
.cursor
.dart-tool
.dartServer
.docker
.expo
.flutter
.gem
.gemini
.gradle
.kombai
.local
.net
.npm
.nvm
.ollama
.pub-cache
.rustup
.swiftpm
.trae
.zsh_sessions
../../